#account-menu-container{
    position: absolute;
width: 150px !important; 
       right: 0;
       display: none;
}
.account-menu-item{
    padding: 6px !important;
    padding-right: 16px !important;
    width: 100% !important;
}